pre {
    background-color:var(--accent);
    overflow-x: auto;
    border-radius: var(--radius-sm);
    scrollbar-color: var(--background) var(--accent);
    padding:10px;
    max-width: 60ch;
    margin: var(--title-margin-3) 0!important;
}

[theme="color"] pre {
    --text: var(--white);
    --accent: var(--black);
}

[theme="light"] pre {
    --text: var(--black);
    --accent: var(--light-grey);
    --background: var(--dark-grey);
}

[theme="dark"] pre {
    --text: var(--white);
    --accent: var(--dark-grey);
    --background: var(--light-grey);
}

