<div theme="color">
    <div class="portfolio">
        <nav role="Main navigation" class="nav--main">
            <ul role="list">
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Journal</a></li>
                <li><a href="#">knowledge</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
</div>
<div theme="light">
    <div class="portfolio">
        <nav role="Main navigation" class="nav--main">
            <ul role="list">
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Journal</a></li>
                <li><a href="#">knowledge</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
</div>
<div theme="dark">
    <div class="portfolio">
        <nav role="Main navigation" class="nav--main">
            <ul role="list">
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Journal</a></li>
                <li><a href="#">knowledge</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
</div>