.color-picker {
    margin:0;
    padding:0;
    transition: 0.25s;
}

.color-picker * {
    transition: 0.25s;
}

.color-picker > summary {
    list-style: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding:1px;
    cursor: pointer;
    border:1px solid var(--text);
    color:var(--text);
}

.color-picker > summary > svg {
    height: 25px;
    width: 25px;
    font-size: 1.8em;
    fill: var(--text);
}

.color-picker svg {
    fill: var(--background);
}

[theme="color"] .color-picker svg {
    fill: var(--text);
}

.color-picker summary::-webkit-details-marker {
    display:none;
}

.color-picker summary:hover {
    background-color: var(--text);
}

.color-picker summary:hover svg {
    fill: var(--background);
}

.color-picker summary:focus {
    border: 1px solid var(--text);
}

.color-buttons {
    top:20px;
    left: 0;
}

.color-buttons li {
    height: 30px;
    width: 30px;
}

.color-buttons {
    position: relative;
}

.color-buttons > *+* {
    margin-top: 0.5em;
}

.color-buttons > ul {
    display: flex;
    flex-direction: column!important;
    position: absolute;
    
}

.color-picker .color-buttons {
    height: 0;
}

.color-picker[open] .color-buttons {
    height: auto;
}
  

.color-button {
    height: 30px;
    width: 30px;
    min-width: initial;
    min-height: initial;
    border-radius: 50%;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-button:hover {
    background-color: var(--text);
    border-radius: 50%;

}

.color-buttons svg {
    height: 30px;
    width: 30px;
}


.color-button svg {
    fill: var(--text);
}

.color-button:hover svg {
    fill: var(--background);
}