<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.10.2" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.2" type="text/css">


<title>Details | Thomasorus Design System</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Thomasorus Design System</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            

<div class="Pen" data-behaviour="pen" id="pen-f17f16c6fbd766b1c81fc5c6606f9126">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/details.html" title="Preview">
            Details
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>

    <span class="Pen-preview-size" data-role="preview-size"></span>

    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-f17f16c6fbd766b1c81fc5c6606f9126">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/details.html"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-f17f16c6fbd766b1c81fc5c6606f9126">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-html">
                HTML
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-view">
                View
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-context">
                Context
            </a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-info">
                Info
            </a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-notes">
                Notes
            </a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>
        Details
    <span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
    Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
<span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-view">
    <code class="Code Code--lang-handlebars hljs">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>
  Details
<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
  Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
<span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-context">
    <code class="Code Code--lang-json hljs">
        
            
            <pre><span class="hljs-comment">/* No context defined. */</span></pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-3de846cc51fbc1626d71b58e6618a843">details.demo.css</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-3de846cc51fbc1626d71b58e6618a843" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-CSS FileBrowser-code hljs">
                                <pre><span class="hljs-selector-tag">article</span> <span class="hljs-selector-tag">details</span> {
  <span class="hljs-attribute">border-left</span>: <span class="hljs-number">5px</span> solid <span class="hljs-built_in">var</span>(--border);
  <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">var</span>(--background-dark);
  <span class="hljs-attribute">padding</span>:<span class="hljs-built_in">var</span>(--margin-s);
}

<span class="hljs-selector-tag">article</span> <span class="hljs-selector-tag">summary</span> {
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">1.30rem</span>;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-built_in">var</span>(--title-scale-<span class="hljs-number">6</span>);
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">1.66rem</span>;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-built_in">var</span>(--title-line-height-<span class="hljs-number">4</span>);
}

<span class="hljs-selector-tag">article</span> <span class="hljs-selector-tag">details</span> &gt; *+* {
  <span class="hljs-attribute">margin-top</span>: <span class="hljs-built_in">var</span>(--margin-s);
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/details/details.demo.css"><span>/components/raw/details/details.demo.css</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/containers/details/details.demo.css</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">334 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@details</span>
        </li>
        
        
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/details.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/details.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/containers/details/details.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-f17f16c6fbd766b1c81fc5c6606f9126-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">No notes defined.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            

    
    


<nav class="Navigation" data-behaviour="navigation">
    <div class="Navigation-panel Navigation-panel--main" data-role="main-panel">
    
        <div class="Navigation-group Navigation-search">
    <form action="" class="Search" data-behaviour="search">
        <label class="Search-label" for="search-input">Search</label>
        <input class="Search-input" id="search-input" type="search" placeholder="Search…" data-role="input" autocomplete="off">
        <button type="button" data-behaviour="clear-search" class="Search-clearButton" aria-label="Clear search" hidden>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </button>
    </form>
</div>

    
        

    
    
    <div class="Navigation-group">
        
<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-containers">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-containers-items">
                    Containers
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-containers-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./article.html"
                data-role="tree-link"
                
                data-pjax
                data-test="article"
                data-handle="article"
            >
                <span>Article</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./aside.html"
                data-role="tree-link"
                
                data-pjax
                data-test="aside"
                data-handle="aside"
            >
                <span>Aside</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a
                class="Tree-entityLink"
                href="./details.html"
                data-role="tree-link"
                
                data-pjax
                data-test="details"
                data-handle="details"
            >
                <span>Details</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./header.html"
                data-role="tree-link"
                
                data-pjax
                data-test="header"
                data-handle="header"
            >
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./section-time.html"
                data-role="tree-link"
                
                data-pjax
                data-test="section-time"
                data-handle="section-time"
            >
                <span>Section Time</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-design-tokens">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-design-tokens-items">
                    Design Tokens
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-design-tokens-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./animations.html"
                data-role="tree-link"
                
                data-pjax
                data-test="animations"
                data-handle="animations"
            >
                <span>Animations</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./border-radius.html"
                data-role="tree-link"
                
                data-pjax
                data-test="border-radius"
                data-handle="border-radius"
            >
                <span>Border Radius</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./colors.html"
                data-role="tree-link"
                
                data-pjax
                data-test="colors"
                data-handle="colors"
            >
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./fonts.html"
                data-role="tree-link"
                
                data-pjax
                data-test="fonts"
                data-handle="fonts"
            >
                <span>Fonts</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./icons.html"
                data-role="tree-link"
                
                data-pjax
                data-test="icons"
                data-handle="icons"
            >
                <span>Icons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./logo.html"
                data-role="tree-link"
                
                data-pjax
                data-test="logo"
                data-handle="logo"
            >
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./spacings.html"
                data-role="tree-link"
                
                data-pjax
                data-test="spacings"
                data-handle="spacings"
            >
                <span>Spacings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./themes.html"
                data-role="tree-link"
                
                data-pjax
                data-test="themes"
                data-handle="themes"
            >
                <span>Themes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-inline-elements">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-inline-elements-items">
                    Inline Elements
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-inline-elements-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./blockquote.html"
                data-role="tree-link"
                
                data-pjax
                data-test="blockquote"
                data-handle="blockquote"
            >
                <span>Blockquote</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./buttons.html"
                data-role="tree-link"
                
                data-pjax
                data-test="buttons"
                data-handle="buttons"
            >
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./code.html"
                data-role="tree-link"
                
                data-pjax
                data-test="code"
                data-handle="code"
            >
                <span>Code</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./collapse.html"
                data-role="tree-link"
                
                data-pjax
                data-test="collapse"
                data-handle="collapse"
            >
                <span>Collapse</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./definition-list.html"
                data-role="tree-link"
                
                data-pjax
                data-test="definition-list"
                data-handle="definition-list"
            >
                <span>Definition List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./form.html"
                data-role="tree-link"
                
                data-pjax
                data-test="form"
                data-handle="form"
            >
                <span>Form</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./hr.html"
                data-role="tree-link"
                
                data-pjax
                data-test="hr"
                data-handle="hr"
            >
                <span>Hr</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./images.html"
                data-role="tree-link"
                
                data-pjax
                data-test="images"
                data-handle="images"
            >
                <span>Images</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./input.html"
                data-role="tree-link"
                
                data-pjax
                data-test="input"
                data-handle="input"
            >
                <span>Input</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./label.html"
                data-role="tree-link"
                
                data-pjax
                data-test="label"
                data-handle="label"
            >
                <span>Label</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./legend.html"
                data-role="tree-link"
                
                data-pjax
                data-test="legend"
                data-handle="legend"
            >
                <span>Legend</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./links.html"
                data-role="tree-link"
                
                data-pjax
                data-test="links"
                data-handle="links"
            >
                <span>Links</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./ordered-list.html"
                data-role="tree-link"
                
                data-pjax
                data-test="ordered-list"
                data-handle="ordered-list"
            >
                <span>Ordered List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./p.html"
                data-role="tree-link"
                
                data-pjax
                data-test="p"
                data-handle="p"
            >
                <span>P</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./pre.html"
                data-role="tree-link"
                
                data-pjax
                data-test="pre"
                data-handle="pre"
            >
                <span>Pre</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./select.html"
                data-role="tree-link"
                
                data-pjax
                data-test="select"
                data-handle="select"
            >
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./table.html"
                data-role="tree-link"
                
                data-pjax
                data-test="table"
                data-handle="table"
            >
                <span>Table</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./titles.html"
                data-role="tree-link"
                
                data-pjax
                data-test="titles"
                data-handle="titles"
            >
                <span>Titles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./unordered-list.html"
                data-role="tree-link"
                
                data-pjax
                data-test="unordered-list"
                data-handle="unordered-list"
            >
                <span>Unordered List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    
        
        
            
            
            <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-navigations">
                <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-navigations-items">
                    Navigations
                </button>
                <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-navigations-items">
                
                
                
                
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./accessibility.html"
                data-role="tree-link"
                
                data-pjax
                data-test="accessibility"
                data-handle="accessibility"
            >
                <span>Accessibility</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./breadcrumb.html"
                data-role="tree-link"
                
                data-pjax
                data-test="breadcrumb"
                data-handle="breadcrumb"
            >
                <span>Breadcrumb</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./main-nav.html"
                data-role="tree-link"
                
                data-pjax
                data-test="main-nav"
                data-handle="main-nav"
            >
                <span>Main Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="./secondary-nav.html"
                data-role="tree-link"
                
                data-pjax
                data-test="secondary-nav"
                data-handle="secondary-nav"
            >
                <span>Secondary Nav</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

                </ul>
            </li>
            
        
    

    </ul>
</div>

    </div>
    


    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a
                class="Tree-entityLink"
                href="../../index.html"
                data-role="tree-link"
                
                data-pjax
                data-test="index"
                data-handle="index"
            >
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
        

    
        
<div class="Navigation-group">
    <div class="Tree">
        <div class="Tree-header">
            <h3 class="Tree-title">
                Information
            </h3>
        </div>
        <dl class="Tree-aside">
            
                <div>
                    <dt class="Tree-asideTerm">Built on:</dt>
                    <dd class="Tree-asideDescription">
                        
                            <time datetime="2022-09-12T22:29:12.429Z">
                                9/12/2022
                            </time>
                        
                    </dd>
                </div>
            
        </dl>
    </div>
</div>


    
    </div>

    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.2"></script>



</body>
</html>
