:root {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--black);
}


[theme="light"] .portfolio {
    --text: var(--red);
    --background: var(--white);
    --accent:  var(--black);
}
[theme="light"] .projects {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--teal);
}
[theme="light"] .journal {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--yellow);
}
[theme="light"] .knowledge {
    --text: var(--blue);
    --background: var(--white);
    --accent:  var(--black);
}
[theme="light"] .about {
    --text: var(--purple);
    --background: var(--white);
    --accent:  var(--pink);
}

[theme="dark"] .portfolio {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--red);
}
[theme="dark"] .projects {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--teal);
}
[theme="dark"] .journal {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--yellow);
}
[theme="dark"] .knowledge {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--blue);
}
[theme="dark"] .about {
    --text: var(--pink);
    --background: var(--black);
    --accent:  var(--purple);
}

[theme="color"] .portfolio {
    --text: var(--white);
    --background: var(--red);
    --accent:  var(--black);
}

[theme="color"] .projects {
    --text: var(--black);
    --background: var(--teal);
    --accent:  var(--white);
}

[theme="color"] .journal {
    --text: var(--black);
    --background: var(--yellow);
    --accent:  var(--white);
}

[theme="color"] .knowledge {
    --text: var(--white);
    --background: var(--blue);
    --accent:  var(--black);
}

[theme="color"] .about {
    --text: var(--pink);
    --background: var(--purple);
    --accent:  var(--white);
}


.portfolio, .projects, .journal, .knowledge, .about {
    background-color: var(--background);
    color: var(--text);
}