<h1>Themes</h1>
<h2>Color theme</h2>
<div class="demo-parent" theme="color">
	<div class="red" >
		<h3>Red</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="teal">
		<h3>Teal</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="yellow">
		<h3>Yellow</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="blue">
		<h3>Blue</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="purple">
		<h3>Purple</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
</div>
<h2>Light theme</h2>
<div class="demo-parent" theme="light">
	<div class="red" >
		<h3>Red</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="teal">
		<h3>Teal</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="yellow">
		<h3>Yellow</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="blue">
		<h3>Blue</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="purple">
		<h3>Purple</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
</div>
<h2>Dark Theme</h2>
<div class="demo-parent" theme="dark">
	<div class="red" >
		<h3>Red</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="teal">
		<h3>Teal</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="yellow">
		<h3>Yellow</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="blue">
		<h3>Blue</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
	<div class="purple">
		<h3>Purple</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
		<hr style="border: 4px solid var(--accent);">
	</div>
</div>



<style>

	.demo-parent {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 20px;
		padding: 10px;

	}

	.demo-parent > div {
		padding: 10px;
	}
	
</style>