:root {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--black);
}


[theme="light"] .red {
    --text: var(--red);
    --background: var(--white);
    --accent:  var(--black);
}
[theme="light"] .teal {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--teal);
}
[theme="light"] .yellow {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--yellow);
}
[theme="light"] .blue {
    --text: var(--blue);
    --background: var(--white);
    --accent:  var(--black);
}
[theme="light"] .purple {
    --text: var(--purple);
    --background: var(--white);
    --accent:  var(--pink);
}

[theme="dark"] .red {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--red);
}
[theme="dark"] .teal {
     --text: var(--white);
    --background: var(--black);
    --accent:  var(--teal);
}
[theme="dark"] .yellow {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--yellow);
}
[theme="dark"] .blue {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--blue);
}
[theme="dark"] .purple {
    --text: var(--pink);
    --background: var(--black);
    --accent:  var(--purple);
}

[theme="color"] .red {
    --text: var(--white);
    --background: var(--red);
    --accent:  var(--black);
}

[theme="color"] .teal {
    --text: var(--black);
    --background: var(--teal);
    --accent:  var(--white);
}

[theme="color"] .yellow {
    --text: var(--black);
    --background: var(--yellow);
    --accent:  var(--white);
}

[theme="color"] .blue {
    --text: var(--white);
    --background: var(--blue);
    --accent:  var(--black);
}

[theme="color"] .purple {
    --text: var(--pink);
    --background: var(--purple);
    --accent:  var(--white);
}


.red, .teal, .yellow, .blue, .purple {
    background-color: var(--background);
    color: var(--text);
}