.accessibility-menu {
    background-color: var(--background);
    position: absolute;
    transform: translateX(-100%);
    padding:var(--margin-s);
    min-width: 280px;
    margin-left: 35px;
    margin-top: 2px;
    border:2px solid var(--text);
}

.accessibility-menu div button {
    display: block;
    margin-top:10px;
}