<div theme="color">
    <div class="about">
        <header>
            {{> @logo }}            
            {{> @main-nav }}
        </header>
    </div>
</div>

<style>
    strong {
        font-size: 20px;
    }
</style>