header {
    width: 100%;
    background:var(--background);
    padding: var(--margin-s);
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:var(--base-font-size);
}