.logo {
    position:relative;
    display:flex;
}

.logo svg {
    transform:translateY(-50%);
}

.logo strong {
    font-size: 20px;
    text-transform: uppercase;
}

[theme="dark"] .logo strong {
    color:var(--accent);
}