:root {
    --title-scale-4: clamp(1.30rem, 1.19rem + 0.55vw, 1.69rem);
    --title-scale-3: clamp(1.56rem, 1.37rem + 0.98vw, 2.25rem);
    --title-scale-2: clamp(1.88rem, 1.55rem + 1.61vw, 3.00rem);
    --title-scale-1: clamp(2.25rem, 1.75rem + 2.50vw, 4.00rem);
}
h4 {
    font-size: var(--title-scale-4);
}
h3 {
    font-size: var(--title-scale-3);
}
h2 {
    font-size: var(--title-scale-2);
}
h1 {
    font-size: var(--title-scale-1);
    /* line-height: clamp(2.1, 1.5rem + 4.35vw, 3); */
    line-height:1.15;
}
