<svg id="Layer_1" height="300" viewBox="0 0 501.94 520.22">
    <polygon class="anim1__1" fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10px" stroke="var(--border)" points="145 111.18 345 11.18 245 211.18 45 311.18 145 111.18" />
    <polygon class="anim1__2" fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10px" stroke="var(--border)" points="5 11.18 255 61.18 205 211.18 5 311.18 5 11.18" />
    <polygon class="anim1__3" fill="var(--text)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10px" stroke="var(--text)" points="65 81.18 165 81.18 265 281.18 65 181.18 65 81.18" />
    <polygon class="anim1__4" fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="10px" stroke="var(--accent)" points="425 411.18 225 511.18 275 261.18 475 261.18 425 411.18" />
    <circle class="anim1__5" cx="385" cy="201.18" r="25" />
</svg>

<h1 class="glitch-text" data-text="Glitch effect by Andy Bell">Glitch effect by Andy Bell</h1>