<p>Color theme</p>
<div theme="color">
  <div class="portfolio">
    <code>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
    </code>
  </div>
  <div class="journal">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="knowledge">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="about">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="projects">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
</div>
<br>
<p>Light theme</p>
<div theme="light">
  <div class="portfolio">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="journal">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="knowledge">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="about">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="projects">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
</div>
<br>
<p>Dark theme</p>
<div theme="dark">
  <div class="portfolio">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="journal">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="knowledge">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="about">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
  <div class="projects">
    <code>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid earum autem magni voluptatem laboriosam, sit velit fugit qui molestiae, cumque, vel labore distinctio ullam nisi tempora harum laborum inventore!
      </code>
  </div>
</div>
