:root {
    /* Figcaption spacing, min 11, max 16 */
    --figcaption-spacing: calc(((11 / 16) * 1rem) + (16 - 11) * var(--fluid-bp));
}

figure > picture + figcaption {
    background-color: var(--background-dark);
    padding: var(--figcaption-spacing);
    min-width:100%;
    border-bottom-left-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
    box-shadow: var(--background-dark) 0 0 0 2px;

}

picture img {
    display: block;
    box-shadow: var(--background-dark) 0 0 0 2px;

}

figure img {
    border-bottom: none;
}