:root {
    --figcaption-smin: (var(--f-0-min, 11)); 
    --figcaption-smax: (var(--f-0-max, 14));
      --figcaption-s: calc(((var(--figcaption-smin) / 16) * 1rem) + (var(--figcaption-smax) - var(--figcaption-smin)) * var(--fluid-bp));
    --figcaption-f: clamp(0.69rem, 0.60rem + 0.45vw, 1.00rem);
}

figure > figcaption {
    background-color: var(--accent);
    font-size: var(--figcaption-f);
    padding: var(--figcaption-s);
    min-width:100%;
    border-bottom-left-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
}

picture img {
    display: block;
    border: 4px solid var(--accent);
}

figure img {
    border-bottom: none;
}