
:root {
    --black: hsla(0, 0%, 7%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --light-grey: hsla(0, 0%, 93%, 1);
    --dark-grey: hsla(0, 0%, 13%, 1);

    --yellow: hsla(50, 95%, 68%, 1);
    --teal: hsla(147, 41%, 75%, 1);
    --pink: hsla(340, 80%, 90%, 1);
    --blue: hsla(245, 38%, 83%, 1);
    --red: hsla(13, 78%, 69%, 1);
}
