<h1>Colors</h1>

<code>--black: hsla(0, 0%, 7%, 1);</code>
<div class="demo-square" style="background-color: var(--black); height:100px; width:100px;"></div>
<br>

<code>--white: hsla(0, 0%, 100%, 1);</code>
<div class="demo-square" style="background-color: var(--white); height:100px; width:100px; border:1px solid black;"></div>
<br>

<code>--yellow: hsla(50, 100%, 50%, 1);</code>
<div class="demo-square" style="background-color: var(--yellow); height:100px; width:100px;"></div>
<br>

<code>--teal: hsla(147, 48%, 68%, 1);</code>
<div class="demo-square" style="background-color: var(--teal); height:100px; width:100px;"></div>
<br>
 
{{!-- <code>--purple: hsla(263, 20%, 20%, 1);</code>
<div class="demo-square" style="background-color: hsla(263, 20%, 20%, 1); height:100px; width:100px;"></div>
<br> --}}

<code>--pink: hsla(340, 80%, 90%, 1);</code>
<div class="demo-square" style="background-color: var(--pink); height:100px; width:100px;"></div>
<br>

<code>--blue: hsla(246, 71%, 55%, 1);</code>
<div class="demo-square" style="background-color: var(--blue); height:100px; width:100px;"></div>
<br>

<code>--red: hsla(13, 100%, 43%, 1);</code>
<div class="demo-square" style="background-color: var(--red); height:100px; width:100px;"></div>
<br>