<form action="">
    <div>
        <label for="name">Name</label>
        <div class="hint" id="name-info">Votre nom de famille et votre prénom</div>
        <input id="name" type="text" name="" autocomplete="name" value="Thomasorus" aria-invalid="true"
            aria-describedby="name-info">
        <div class="error" id="name-error" hidden="true">Le nom n'est pas conforme</div>
    </div>


    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="" value="mypassword" required>
    </div>
</form>