/* Box sizing rules */ 
*,
*::before,
*::after {
  box-sizing: border-box;
} 
/* Remove default margin */ 
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} 
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */ 
ul[role='list'],
ol[role='list'] {
  list-style: none;
} 
/* Set core root defaults */ 
html:focus-within {
  scroll-behavior: smooth;
} 
/* Set core body defaults */ 
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} 
/* A elements that don't have a class get default styles */ 
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
} 
/* Make images easier to work with */ 
img,
picture {
  max-width: 100%;
  display: block;
} 
/* Inherit fonts for inputs and buttons */ 
input,
button,
textarea,
select {
  font: inherit;
} 
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */ 
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} 
/* Design tokens */ 
:root {
    --black: hsla(0, 0%, 7%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --yellow: hsla(50, 100%, 50%, 1);
    --teal: hsla(147, 48%, 68%, 1);
    --purple: hsla(263, 20%, 20%, 1);
    --pink: hsla(340, 80%, 90%, 1);
    --blue: hsla(246, 71%, 55%, 1);
    --red: hsla(13, 100%, 43%, 1);
} 
:root {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--black);
} 
[theme="light"] .red {
    --text: var(--red);
    --background: var(--white);
    --accent:  var(--black);
} 
[theme="light"] .teal {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--teal);
} 
[theme="light"] .yellow {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--yellow);
} 
[theme="light"] .blue {
    --text: var(--blue);
    --background: var(--white);
    --accent:  var(--black);
} 
[theme="light"] .purple {
    --text: var(--purple);
    --background: var(--white);
    --accent:  var(--pink);
} 
[theme="dark"] .red {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--red);
} 
[theme="dark"] .teal {
     --text: var(--white);
    --background: var(--black);
    --accent:  var(--teal);
} 
[theme="dark"] .yellow {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--yellow);
} 
[theme="dark"] .blue {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--blue);
} 
[theme="dark"] .purple {
    --text: var(--pink);
    --background: var(--black);
    --accent:  var(--purple);
} 
[theme="color"] .red {
    --text: var(--white);
    --background: var(--red);
    --accent:  var(--black);
} 
[theme="color"] .teal {
    --text: var(--black);
    --background: var(--teal);
    --accent:  var(--white);
} 
[theme="color"] .yellow {
    --text: var(--black);
    --background: var(--yellow);
    --accent:  var(--white);
} 
[theme="color"] .blue {
    --text: var(--white);
    --background: var(--blue);
    --accent:  var(--black);
} 
[theme="color"] .purple {
    --text: var(--pink);
    --background: var(--purple);
    --accent:  var(--white);
} 
.red, .teal, .yellow, .blue, .purple {
    background-color: hsla(0, 0%, 100%, 1);
    background-color: var(--background);
    color: hsla(0, 0%, 7%, 1);
    color: var(--text);
} 
:root {
    font-size: 16px;
    --title-scale-0: clamp(20.96px, 20.16px + 0.27vw, 24px);
    --title-scale-0: clamp(1.31rem, 1.26rem + 0.27vw, 1.50rem);
    --title-scale-1: clamp(25.28px, 23.2px + 0.61vw, 32px);
    --title-scale-1: clamp(1.58rem, 1.45rem + 0.61vw, 2.00rem);
    --title-scale-2: clamp(30.24px, 26.72px + 1.11vw, 42.72px);
    --title-scale-2: clamp(1.89rem, 1.67rem + 1.11vw, 2.67rem);
    --title-scale-3: clamp(36.32px, 30.4px + 1.84vw, 56.8px);
    --title-scale-3: clamp(2.27rem, 1.90rem + 1.84vw, 3.55rem);
    --title-scale-4: clamp(43.52px, 34.4px + 2.88vw, 75.84px);
    --title-scale-4: clamp(2.72rem, 2.15rem + 2.88vw, 4.74rem);
    --title-scale-5: clamp(52.32px, 38.24px + 4.35vw, 100.96px);
    --title-scale-5: clamp(3.27rem, 2.39rem + 4.35vw, 6.31rem);
} 
h6 {
    font-size: clamp(20.96px, 20.16px + 0.27vw, 24px);
    font-size: clamp(1.31rem, 1.26rem + 0.27vw, 1.50rem);
    font-size: var(--title-scale-0);
} 
h5 {
    font-size: clamp(25.28px, 23.2px + 0.61vw, 32px);
    font-size: clamp(1.58rem, 1.45rem + 0.61vw, 2.00rem);
    font-size: var(--title-scale-1);
} 
h4 {
    font-size: clamp(30.24px, 26.72px + 1.11vw, 42.72px);
    font-size: clamp(1.89rem, 1.67rem + 1.11vw, 2.67rem);
    font-size: var(--title-scale-2);
} 
h3 {
    font-size: clamp(36.32px, 30.4px + 1.84vw, 56.8px);
    font-size: clamp(2.27rem, 1.90rem + 1.84vw, 3.55rem);
    font-size: var(--title-scale-3);
} 
h2 {
    font-size: clamp(43.52px, 34.4px + 2.88vw, 75.84px);
    font-size: clamp(2.72rem, 2.15rem + 2.88vw, 4.74rem);
    font-size: var(--title-scale-4);
} 
h1 {
    font-size: clamp(52.32px, 38.24px + 4.35vw, 100.96px);
    font-size: clamp(3.27rem, 2.39rem + 4.35vw, 6.31rem);
    font-size: var(--title-scale-5);
    line-height: 1.74;
} 
@font-face {
    font-family: "Editorial New Regular";
    src: url("../public/assets/d58d53cb25ead483.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 
h1 {
    font-family: "Editorial New Regular";
}