/* Box sizing rules */ 
*,
*::before,
*::after {
  box-sizing: border-box;
} 
/* Remove default margin */ 
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
} 
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */ 
ul[role='list'],
ol[role='list'] {
  list-style: none;
} 
/* Set core root defaults */ 
html:focus-within {
  scroll-behavior: smooth;
} 
/* Set core body defaults */ 
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} 
/* A elements that don't have a class get default styles */ 
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
} 
/* Make images easier to work with */ 
img,
picture {
  max-width: 100%;
  display: block;
} 
/* Inherit fonts for inputs and buttons */ 
input,
button,
textarea,
select {
  font: inherit;
} 
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */ 
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} 
/* Design tokens */ 
:root {
    --black: hsla(0, 0%, 7%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --light-grey: hsla(0, 0%, 93%, 1);
    --dark-grey: hsla(0, 0%, 13%, 1);

    --yellow: hsla(50, 95%, 68%, 1);
    --teal: hsla(147, 41%, 75%, 1);
    --pink: hsla(340, 80%, 90%, 1);
    --blue: hsla(245, 38%, 83%, 1);
    --red: hsla(13, 78%, 69%, 1);
} 
:root {
    /* GLOBAL SCALES */
    --fluid-min-width: 320;
    --fluid-max-width: 1440;
  
    /* FLUID SCALES */
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width)/16*1rem)/(var(--fluid-max-width) - var(--fluid-min-width)));


    /* Main Magin for containers */
    --margin-s-min: (var(--f-0-min, 20)); 
    --margin-s-max: (var(--f-0-max, 64));
    --margin-s: calc(var(--margin-s-min)/16*1rem + (var(--margin-s-max) - var(--margin-s-min))*var(--fluid-bp));
  
    /* Vertical paragraph margin */
    --paragraph-s-min: (var(--f-0-min, 25)); 
    --paragraph-s-max: (var(--f-0-max, 30));
    --paragraph-s: calc(var(--paragraph-s-min)/16*1rem + (var(--paragraph-s-max) - var(--paragraph-s-min))*var(--fluid-bp));

    /* TODO : see if possible to merge all margins scales into one */
    
  } 
@media screen and (min-width: 1440px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width)*1px);
    }
  } 
:root {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--black);
} 
[theme="light"] .portfolio {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--red);
} 
[theme="light"] .projects {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--teal);
} 
[theme="light"] .journal {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--yellow);
} 
[theme="light"] .knowledge {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--blue);
} 
[theme="light"] .about {
    --text: var(--black);
    --background: var(--white);
    --accent:  var(--pink);
} 
[theme="dark"] .portfolio {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--red);
} 
[theme="dark"] .projects {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--teal);
} 
[theme="dark"] .journal {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--yellow);
} 
[theme="dark"] .knowledge {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--blue);
} 
[theme="dark"] .about {
    --text: var(--white);
    --background: var(--black);
    --accent:  var(--pink);
} 
[theme="color"] .portfolio {
    --text: var(--black);
    --background: var(--red);
    --accent:  var(--white);
} 
[theme="color"] .projects {
    --text: var(--black);
    --background: var(--teal);
    --accent:  var(--white);
} 
[theme="color"] .journal {
    --text: var(--black);
    --background: var(--yellow);
    --accent:  var(--white);
} 
[theme="color"] .knowledge {
    --text: var(--black);
    --background: var(--blue);
    --accent:  var(--white);
} 
[theme="color"] .about {
    --text: var(--black);
    --background: var(--pink);
    --accent:  var(--white);
} 
.portfolio, .projects, .journal, .knowledge, .about {
    background-color: hsla(0, 0%, 100%, 1);
    background-color: var(--background);
    color: hsla(0, 0%, 7%, 1);
    color: var(--text);
} 
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("03d67f11d4c6bcdd.woff2?v=3.18") format("woff2");
  } 
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("5c2ff0c81a369e4f.woff2?v=3.18") format("woff2");
  } 
@font-face {
    font-family: "Editorial New Regular";
    src: url("d58d53cb25ead483.woff2") format("woff2");
    font-style: Regular;
    font-display: swap;
} 
@font-face {
    font-family: "Editorial New Light";
    src: url("2ef415cb3b1f3c96.woff2") format("woff2");
    font-style: Light;
    font-display: swap;
} 
@font-face {
  font-family: "IBM Plex Mono";
  src: url("11a97c41a08ca9c5.woff2") format("woff2");
  font-style: Light;
  font-display: swap;
} 
html { font-family: 'Inter', sans-serif; } 
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
} 
:root {
    --radius-sm: 5px;
    --radius-md: 10px;
} 
.logo {
    position:relative;
    display:flex;
} 
.logo svg {
    transform:translateY(-50%);
} 
.logo strong {
    font-size: 20px;
    text-transform: uppercase;
} 
[theme="dark"] .logo strong {
    color:hsla(0, 0%, 7%, 1);
    color:var(--accent);
} 
* {
    scrollbar-color: hsla(0, 0%, 100%, 1) hsla(0, 0%, 7%, 1);
    scrollbar-color: var(--background) var(--text);
} 
* {
    max-width: 60ch;
} 
html,
body,
div,
header,
nav,
main,
article,
footer {
max-width: none;
} 
/* 
figure,
figcaption, */ 
img {
    max-width: 100%;
} 
main {
margin: calc(var(--f-0-min, 20)/16*1rem + (var(--f-0-max, 64) - var(--f-0-min, 20))*(0.08929vw - 0.01786rem));
margin: var(--margin-s);
} 
:root {
    --paragraph-s-min: (var(--f-0-min, 14)); 
    --paragraph-s-max: (var(--f-0-max, 20));
    --paragraph-s: calc(var(--paragraph-s-min)/16*1rem + (var(--paragraph-s-max) - var(--paragraph-s-min))*var(--fluid-bp));
} 
:root {
    --title-scale-6: clamp(14.4px, 12.64px + 0.58vw, 20.96px);
    --title-scale-6: clamp(0.90rem, 0.79rem + 0.58vw, 1.31rem);
    --title-scale-5: clamp(17.44px, 14.88px + 0.79vw, 26.24px);
    --title-scale-5: clamp(1.09rem, 0.93rem + 0.79vw, 1.64rem);
    --title-scale-4: clamp(20.8px, 19.04px + 0.55vw, 27.04px);
    --title-scale-4: clamp(1.30rem, 1.19rem + 0.55vw, 1.69rem);
    --title-scale-3: clamp(24.96px, 21.92px + 0.98vw, 36px);
    --title-scale-3: clamp(1.56rem, 1.37rem + 0.98vw, 2.25rem);
    --title-scale-2: clamp(30.08px, 24.8px + 1.61vw, 48px);
    --title-scale-2: clamp(1.88rem, 1.55rem + 1.61vw, 3.00rem);
    --title-scale-1: clamp(36px, 28px + 2.50vw, 64px);
    --title-scale-1: clamp(2.25rem, 1.75rem + 2.50vw, 4.00rem);

    --title-line-height-6: clamp(18.56px, 16.8px + 0.51vw, 24.32px);
    --title-line-height-6: clamp(1.16rem, 1.05rem + 0.51vw, 1.52rem);
    --title-line-height-5: clamp(22.24px, 19.84px + 0.73vw, 30.24px);
    --title-line-height-5: clamp(1.39rem, 1.24rem + 0.73vw, 1.89rem);
    --title-line-height-4: clamp(26.56px, 23.36px + 1.01vw, 37.92px);
    --title-line-height-4: clamp(1.66rem, 1.46rem + 1.01vw, 2.37rem);
    --title-line-height-3: clamp(32px, 27.52px + 1.38vw, 47.36px);
    --title-line-height-3: clamp(2.00rem, 1.72rem + 1.38vw, 2.96rem);
    --title-line-height-2: clamp(38.4px, 32.32px + 1.86vw, 59.2px);
    --title-line-height-2: clamp(2.40rem, 2.02rem + 1.86vw, 3.70rem);
    --title-line-height-1: clamp(46.08px, 38.08px + 2.50vw, 74.08px);
    --title-line-height-1: clamp(2.88rem, 2.38rem + 2.50vw, 4.63rem);

    /* TITLES MARGINS SCALES */
    --title-scale-5xs-min: (var(--title-scale-s-min) * 0.0625); 
    --title-scale-5xs-max: (var(--title-scale-s-max) * 0.0625);
    --title-scale-4xs-min: (var(--title-scale-s-min) * 0.125); 
    --title-scale-4xs-max: (var(--title-scale-s-max) * 0.125);
    --title-scale-3xs-min: (var(--title-scale-s-min) * 0.25); 
    --title-scale-3xs-max: (var(--title-scale-s-max) * 0.25);
    --title-scale-2xs-min: (var(--title-scale-s-min) * 0.5); 
    --title-scale-2xs-max: (var(--title-scale-s-max) * 0.5);
    --title-scale-xs-min: (var(--title-scale-s-min) * 0.75); 
    --title-scale-xs-max: (var(--title-scale-s-max) * 0.75);
    --title-scale-s-min: (var(--f-0-min, 70)); 
    --title-scale-s-max: (var(--f-0-max, 100));
  
    /* TITLES MARGINS VARS */
    --title-margin-6: calc(var(--title-scale-5xs-min)/16*1rem + (var(--title-scale-5xs-max) - var(--title-scale-5xs-min))*var(--fluid-bp));
    --title-margin-5: calc(var(--title-scale-4xs-min)/16*1rem + (var(--title-scale-4xs-max) - var(--title-scale-4xs-min))*var(--fluid-bp));
    --title-margin-4: calc(var(--title-scale-3xs-min)/16*1rem + (var(--title-scale-3xs-max) - var(--title-scale-3xs-min))*var(--fluid-bp));
    --title-margin-3: calc(var(--title-scale-2xs-min)/16*1rem + (var(--title-scale-2xs-max) - var(--title-scale-2xs-min))*var(--fluid-bp));
    --title-margin-2: calc(var(--title-scale-xs-min)/16*1rem + (var(--title-scale-xs-max) - var(--title-scale-xs-min))*var(--fluid-bp));
    --title-margin-1: calc(var(--title-scale-s-min)/16*1rem + (var(--title-scale-s-max) - var(--title-scale-s-min))*var(--fluid-bp));
} 
h6 {
    font-size: clamp(14.4px, 12.64px + 0.58vw, 20.96px);
    font-size: clamp(0.90rem, 0.79rem + 0.58vw, 1.31rem);
    font-size: var(--title-scale-6);
    line-height:clamp(18.56px, 16.8px + 0.51vw, 24.32px);
    line-height:clamp(1.16rem, 1.05rem + 0.51vw, 1.52rem);
    line-height:var(--title-line-height-6);
    margin:calc(var(--f-0-min, 70)*0.0625/16*1rem + (var(--f-0-max, 100)*0.0625 - var(--f-0-min, 70)*0.0625)*(0.08929vw - 0.01786rem)) 0;
    margin:var(--title-margin-6) 0;
    max-width: 30ch;
} 
h5 {
    font-size: clamp(17.44px, 14.88px + 0.79vw, 26.24px);
    font-size: clamp(1.09rem, 0.93rem + 0.79vw, 1.64rem);
    font-size: var(--title-scale-5);
    line-height:clamp(22.24px, 19.84px + 0.73vw, 30.24px);
    line-height:clamp(1.39rem, 1.24rem + 0.73vw, 1.89rem);
    line-height:var(--title-line-height-5);
    margin:calc(var(--f-0-min, 70)*0.125/16*1rem + (var(--f-0-max, 100)*0.125 - var(--f-0-min, 70)*0.125)*(0.08929vw - 0.01786rem)) 0;
    margin:var(--title-margin-5) 0;
    max-width: 30ch;
} 
h4 {
    font-size: clamp(20.8px, 19.04px + 0.55vw, 27.04px);
    font-size: clamp(1.30rem, 1.19rem + 0.55vw, 1.69rem);
    font-size: var(--title-scale-4);
    line-height:clamp(26.56px, 23.36px + 1.01vw, 37.92px);
    line-height:clamp(1.66rem, 1.46rem + 1.01vw, 2.37rem);
    line-height:var(--title-line-height-4);
    margin:calc(var(--f-0-min, 70)*0.25/16*1rem + (var(--f-0-max, 100)*0.25 - var(--f-0-min, 70)*0.25)*(0.08929vw - 0.01786rem)) 0;
    margin:var(--title-margin-4) 0;
    max-width: 30ch;
} 
h3 {
    font-size: clamp(24.96px, 21.92px + 0.98vw, 36px);
    font-size: clamp(1.56rem, 1.37rem + 0.98vw, 2.25rem);
    font-size: var(--title-scale-3);
    line-height:clamp(32px, 27.52px + 1.38vw, 47.36px);
    line-height:clamp(2.00rem, 1.72rem + 1.38vw, 2.96rem);
    line-height:var(--title-line-height-3);
    margin:calc(var(--f-0-min, 70)*0.5/16*1rem + (var(--f-0-max, 100)*0.5 - var(--f-0-min, 70)*0.5)*(0.08929vw - 0.01786rem)) 0;
    margin:var(--title-margin-3) 0;
    max-width: 30ch;
} 
h2 {
    font-size: clamp(30.08px, 24.8px + 1.61vw, 48px);
    font-size: clamp(1.88rem, 1.55rem + 1.61vw, 3.00rem);
    font-size: var(--title-scale-2);
    line-height:clamp(38.4px, 32.32px + 1.86vw, 59.2px);
    line-height:clamp(2.40rem, 2.02rem + 1.86vw, 3.70rem);
    line-height:var(--title-line-height-2);
    margin:calc(var(--f-0-min, 70)*0.75/16*1rem + (var(--f-0-max, 100)*0.75 - var(--f-0-min, 70)*0.75)*(0.08929vw - 0.01786rem)) 0!important;
    margin:var(--title-margin-2) 0!important;
    max-width: 30ch;
} 
h1 {
    font-size: clamp(36px, 28px + 2.50vw, 64px);
    font-size: clamp(2.25rem, 1.75rem + 2.50vw, 4.00rem);
    font-size: var(--title-scale-1);
    line-height:clamp(46.08px, 38.08px + 2.50vw, 74.08px);
    line-height:clamp(2.88rem, 2.38rem + 2.50vw, 4.63rem);
    line-height:var(--title-line-height-1);
    margin:calc(var(--f-0-min, 70)/16*1rem + (var(--f-0-max, 100) - var(--f-0-min, 70))*(0.08929vw - 0.01786rem)) 0;
    margin:var(--title-margin-1) 0;
} 
h1, h2, h3, h4, h5, h6{
    font-family: "Editorial New Regular", serif;
} 
a {
    color:hsla(0, 0%, 7%, 1);
    color:var(--text);
} 
a:hover {
    
} 
a:active {

} 
a:visited {
    
} 
a[target="_blank"] {
    color: hsla(0, 0%, 7%, 1);
    color: var(--text);
    position: relative;
} 
a[target="_blank"]:after {
    content: "\2197";
    color:hsla(0, 0%, 7%, 1);
    color:var(--text);
} 
code {
    font-family: "IBM Plex Mono", monospace;
    color:hsla(0, 0%, 7%, 1);
    color:var(--text);
    font-size: calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    font-size: var(--paragraph-s);
} 
pre {
    background-color:hsla(0, 0%, 7%, 1);
    background-color:var(--accent);
    overflow-x: auto;
    border-radius: 5px;
    border-radius: var(--radius-sm);
    scrollbar-color: hsla(0, 0%, 100%, 1) hsla(0, 0%, 7%, 1);
    scrollbar-color: var(--background) var(--accent);
    padding:10px;
    max-width: 80ch;
    margin: calc(var(--f-0-min, 70)*0.5/16*1rem + (var(--f-0-max, 100)*0.5 - var(--f-0-min, 70)*0.5)*(0.08929vw - 0.01786rem)) 0!important;
    margin: var(--title-margin-3) 0!important;
} 
[theme="color"] pre {
    --text: var(--white);
    --accent: var(--black);
} 
[theme="light"] pre {
    --text: var(--black);
    --accent: var(--light-grey);
    --background: var(--dark-grey);
} 
[theme="dark"] pre {
    --text: var(--white);
    --accent: var(--dark-grey);
    --background: var(--light-grey);
} 
ul {
    list-style-type: disc;
    font-size: calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    font-size: var(--paragraph-s);
} 
ul[role="list"] {
    padding:0;
    margin:0;
} 
ol {
    font-size: calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    font-size: var(--paragraph-s);
} 
ol[role="list"] {
    padding:0;
    margin:0;
} 
hr {
    color: hsla(0, 0%, 7%, 1);
    color: var(--text);
    border: 1px solid hsla(0, 0%, 7%, 1);
    border: 1px solid var(--text);
    margin: calc(var(--f-0-min, 70)*0.75/16*1rem + (var(--f-0-max, 100)*0.75 - var(--f-0-min, 70)*0.75)*(0.08929vw - 0.01786rem)) 0!important;
    margin: var(--title-margin-2) 0!important;
} 
p {
    font-size: calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    font-size: var(--paragraph-s);
} 
figure > blockquote {
    padding:calc(var(--f-0-min, 23)/16*1rem + (var(--f-0-max, 36) - var(--f-0-min, 23))*(0.08929vw - 0.01786rem)) calc(var(--f-0-min, 15)/16*1rem + (var(--f-0-max, 42) - var(--f-0-min, 15))*(0.08929vw - 0.01786rem)) 0 calc(var(--f-0-min, 15)/16*1rem + (var(--f-0-max, 42) - var(--f-0-min, 15))*(0.08929vw - 0.01786rem));
    padding:var(--blockquote-padding-y) var(--blockquote-padding-x) 0 var(--blockquote-padding-x);
} 
figure > figcaption {
    padding:calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem)) calc(var(--f-0-min, 23)/16*1rem + (var(--f-0-max, 36) - var(--f-0-min, 23))*(0.08929vw - 0.01786rem)) calc(var(--f-0-min, 15)/16*1rem + (var(--f-0-max, 42) - var(--f-0-min, 15))*(0.08929vw - 0.01786rem)) calc(var(--f-0-min, 23)/16*1rem + (var(--f-0-max, 36) - var(--f-0-min, 23))*(0.08929vw - 0.01786rem));
    padding:var(--paragraph-s) var(--blockquote-padding-y) var(--blockquote-padding-x) var(--blockquote-padding-y);
} 
[theme="color"] blockquote,
[theme="color"] figcaption {
    background-color:hsla(0, 0%, 7%, 1);
    background-color:var(--accent);
    border-left: 5px solid hsla(0, 0%, 7%, 1);
    border-left: 5px solid var(--text);
} 
[theme="light"] blockquote,
[theme="light"] figcaption {
    background-color:hsla(0, 0%, 93%, 1);
    background-color:var(--light-grey);
    border-left: 5px solid hsla(0, 0%, 7%, 1);
    border-left: 5px solid var(--accent);
} 
[theme="dark"] blockquote,
[theme="dark"] figcaption {
    background-color:hsla(0, 0%, 13%, 1);
    background-color:var(--dark-grey);
    border-left: 5px solid hsla(0, 0%, 7%, 1);
    border-left: 5px solid var(--accent);
} 
:root {
    --blockquote-padding-x-s-min: (var(--f-0-min, 15)); 
    --blockquote-padding-x-s-max: (var(--f-0-max, 42));

    /* T-shirt sizes */
    --blockquote-padding-x: calc(var(--blockquote-padding-x-s-min)/16*1rem + (var(--blockquote-padding-x-s-max) - var(--blockquote-padding-x-s-min))*var(--fluid-bp));

    --blockquote-padding-y-s-min: (var(--f-0-min, 23)); 
    --blockquote-padding-y-s-max: (var(--f-0-max, 36));
  
    /* T-shirt sizes */
    --blockquote-padding-y: calc(var(--blockquote-padding-y-s-min)/16*1rem + (var(--blockquote-padding-y-s-max) - var(--blockquote-padding-y-s-min))*var(--fluid-bp));
  
} 
header {
    width: 100%;
    background:hsla(0, 0%, 100%, 1);
    background:var(--background);
    padding: calc(var(--f-0-min, 20)/16*1rem + (var(--f-0-max, 64) - var(--f-0-min, 20))*(0.08929vw - 0.01786rem));
    padding: var(--margin-s);
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    gap:var(--paragraph-s);
} 
article > *+* {
    margin-top: calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    margin-top: var(--paragraph-s);
    position: relative;
} 
article h1 + picture {
    position: absolute;
    margin:0;
    max-width: 40%;
    right:0;
} 
@media screen and (max-width: 1100px) {
    article h1 + picture {
        position: static;
        margin:inherit;
        max-width: 100%;
        right:unset;
    }
    
} 
.nav--main {
    position:sticky;
    top:calc(var(--f-0-min, 20)/16*1rem + (var(--f-0-max, 64) - var(--f-0-min, 20))*(0.08929vw - 0.01786rem));
    top:var(--margin-s);
} 
.nav--main ul {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    gap: 5px 20px;
} 
.nav--main a {
    text-decoration:none;
    font-size: 18px;
} 
[theme="dark"] .nav--main a  {
    color: hsla(0, 0%, 7%, 1);
    color: var(--accent);
} 
.nav--secondary ul {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 5px 20px;
} 
nav[role="breadcrumb"] {
    position: sticky;
    top:0;
    margin: 0 calc(var(--f-0-min, 20)/16*1rem + (var(--f-0-max, 64) - var(--f-0-min, 20))*(0.08929vw - 0.01786rem));
    margin: 0 var(--margin-s);
    background-color: hsla(0, 0%, 100%, 1);
    background-color: var(--background);
    z-index: 1;
    font-size: calc(var(--f-0-min, 14)/16*1rem + (var(--f-0-max, 20) - var(--f-0-min, 14))*(0.08929vw - 0.01786rem));
    font-size: var(--paragraph-s);
} 
[theme="dark"] nav[role="breadcrumb"] {
    color:hsla(0, 0%, 7%, 1);
    color:var(--accent);
}
