<div theme="color">
    <div class="portfolio">
        <nav role="breadcrumb"><i>Back to <a href="home.html">Home</a></i></nav>
    </div>
</div>
<div theme="light">
    <div class="portfolio">
        <nav role="breadcrumb"><i>Back to <a href="home.html">Home</a></i></nav>
    </div>
</div>
<div theme="dark">
    <div class="portfolio">
        <nav role="breadcrumb"><i>Back to <a href="home.html">Home</a></i></nav>
    </div>
</div>