<div theme="color" >
    <p class="knowledge" style="border-radius: var(--radius-sm);">Radius small</p>
     <p class="knowledge" style="border-radius: var(--radius-md);">Radius medium</p>
</div>

<style>
    p {
        padding:10px;
        margin:10px;
    }
</style>