
* {
    scrollbar-color: var(--background) var(--text);
}


* {
    max-width: 60ch;
}
  
html,
body,
div,
header,
nav,
main,
article,
footer {
max-width: none;
}
/* 
figure,
figcaption, */
img {
    max-width: 100%;
}

main {
margin: var(--margin-s);
}


:root {
    --paragraph-s-min: (var(--f-0-min, 14)); 
    --paragraph-s-max: (var(--f-0-max, 20));
    --paragraph-s: calc(((var(--paragraph-s-min) / 16) * 1rem) + (var(--paragraph-s-max) - var(--paragraph-s-min)) * var(--fluid-bp));
}