
:root {
    --base-font-size-smin: (var(--f-0-min, 14)); 
    --base-font-size-smax: (var(--f-0-max, 20));
    --base-font-size: calc(((var(--base-font-size-smin) / 16) * 1rem) + (var(--base-font-size-smax) - var(--base-font-size-smin)) * var(--fluid-bp));

    --base-line-height-s-min: (var(--f-0-min, 24)); 
    --base-line-height-s-max: (var(--f-0-max, 30));
  
    /* T-shirt sizes */
    --base-line-height: calc(((var(--base-line-height-s-min) / 16) * 1rem) + (var(--base-line-height-s-max) - var(--base-line-height-s-min)) * var(--fluid-bp));
    
}

* {
    scrollbar-color: var(--background) var(--text);
}


* {
    max-width: 60ch;
}
  
html,
body,
div,
header,
nav,
main,
article,
footer {
max-width: none;
}
/* 
figure,
figcaption, */
img {
    max-width: 100%;
}


body {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

main {
margin: var(--margin-s);
}


dl > dt {
    margin-top: var(--base-font-size);
}

dl dd {
    padding-left:2em;
}

fieldset {
    border:none;
    padding:0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  