:root {
    /* padding y for input */
    /* 3 is min, 5 is max */
    --padding-input-y: calc(((3 / 16) * 1rem) + (5 - 3) * var(--fluid-bp));

     /* padding x for input */
    /* 9 is min, 17 is max */
     --padding-input-x: calc(((9 / 16) * 1rem) + (17 - 9) * var(--fluid-bp));
}

/* Base styles */

input {
    display: block;
    color: var(--text);
    background-color: var(--grey);
    border: none;
    border-radius: var(--radius-sm);
    min-height: 42px;
    padding: var(--padding-input-y) var(--padding-input-x);
    outline: transparent;
    width:1ch;
}

[theme="dark"] input {
    background-color: var(grey-pitchblack);
}


/* Focus styles */

input:focus {
    box-shadow: var(--border) 0 0 0 2px;
}


/* Error styles */

input[aria-invalid="true"] {
    background-color: var(--border);
}

[theme="light"] input[aria-invalid="true"]:focus {
    box-shadow: var(--text) 0 0 0 2px;
}

[theme="dark"] input[aria-invalid="true"]:focus {
    box-shadow: var(--accent) 0 0 0 2px;
}

[theme="color"] input[aria-invalid="true"]:focus {
    box-shadow: var(--background) 0 0 0 2px;
}


/* Width modifiers */

input[data-size="30"] {
    width:30ch;
}

input[data-size="20"] {
    width:20ch;
}

input[data-size="10"] {
    width:10ch;
}

input[data-size="5"] {
    width:5ch;
}


input[data-size="4"] {
    width:4ch;
}