<div>
    <section role="complementary">
        <details>
            <summary class="time-row">
                <span>Chisai</span>
                <span> Last edit
                    <span aria-hidden="true">→</span>
                    Mon, 08 Mar 2021 00:28:33 GMT
                </span>
            </summary>
            <dl class="time-row-more">
                <dt>
                    Time spent
                    <span aria-hidden="true">→</span>
                </dt>
                <dd>55 hours</dd>
                <dt>
                    Started
                    <span aria-hidden="true">→</span>
                </dt>
                <dd>Week 3 of 2021</dd>
                <dt>
                    Last update
                    <span aria-hidden="true">→</span>
                </dt>
                <dd>Week 25 of 2021</dd>
            </dl>
        </details>
    </section>
</div>

<style>
    div {
        padding: 10px 0;
    }
</style>