section[role="complementary"] {
    background-color: var(--accent);   
    width: 100%;
    padding: 0.5em var(--margin-l);
    min-width: 100%;
    position: sticky;
    bottom: 0;
}

section[role="complementary"] details {
    min-width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: var(--margin-l);
    cursor: pointer;
    justify-items:end;
}


section[role="complementary"] summary::-webkit-details-marker {
    display:none;
}

.time-row {
    min-width: 100%;
    display:grid;
    grid-template-columns: 1fr auto;
    gap:0.6em;
}

.time-row__title {
    font-family: "Editorial New Regular", serif;
}

.time-row-more {
    margin-top: var(--margin-l);
    min-width: 100%;
    display:grid;
    grid-template-columns: 1fr auto;
    text-align: right;
    justify-items:end;
    gap:0.6em;
}

.time-row-more dt,
.time-row-more dd {
    margin:0;
    padding:0;
}

@media screen and (max-width:640px) {
    section[role="complementary"] {
        position: static;
    }

    .time-row {
        grid-template-columns: 1fr;
    }

    .time-row {
        justify-items:start;
    }
    
}

[theme="dark"] section[role="complementary"]  {
    color:var(--background);
}
