:root {
    /* GLOBAL SCALES */
    --fluid-min-width: 320;
    --fluid-max-width: 1440;
  
    /* FLUID SCALES */
    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));


    /* Main Magin for containers */
    --margin-s-min: (var(--f-0-min, 20)); 
    --margin-s-max: (var(--f-0-max, 64));
    --margin-s: calc(((var(--margin-s-min) / 16) * 1rem) + (var(--margin-s-max) - var(--margin-s-min)) * var(--fluid-bp));
  
    /* Vertical paragraph margin */
    --base-font-size-min: (var(--f-0-min, 25)); 
    --base-font-size-max: (var(--f-0-max, 30));
    --base-font-size: calc(((var(--base-font-size-min) / 16) * 1rem) + (var(--base-font-size-max) - var(--base-font-size-min)) * var(--fluid-bp));

    /* TODO : see if possible to merge all margins scales into one */
    
  }
  
  @media screen and (min-width: 1440px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
  }