ol {
    padding-left:2em;
}

ol:not([role="list"]) li {
    padding-left: 1em;
}

ol li::marker{
    font-size: var(--base-font-size);
}
[theme="color"] ol li::marker{
    --number-color: var(--accent);
    color:var(--number-color);
}

[theme="light"] ol li::marker{
    --number-color: hsla(0, 0%, 7%, 0.5);
    color:var(--number-color);
}

[theme="dark"] ol li::marker{
    --number-color: hsla(0, 0%, 100%, 0.5);
    color:var(--number-color);
}

ol[role="list"] {
    padding:0;
    margin:0;
}