<div theme="color">
    <div class="projects">
        <code>Normal list</code>
        <ol>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ol>

        <code>List with role="list"</code>
        <ol role="list">
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ol>
    </div>
</div>
<div theme="light">
    <div class="projects">
        <code>Normal list</code>
        <ol>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ol>

        <code>List with role="list"</code>
        <ol role="list">
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ol>
    </div>
</div>
<div theme="dark">
    <div class="projects">
        <code>Normal list</code>
        <ol>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ol>

        <code>List with role="list"</code>
        <ol role="list">
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
            <li>Hello</li>
        </ol>
    </div>
</div>
