<div theme="color">
    <div class="portfolio">
        <span class="logo">
            <strong>
                Thomasorus
            </strong>
        </span>
    </div>
</div>
<div theme="light">
    <div class="portfolio">
        <span class="logo">
            <strong>
                Thomasorus
            </strong>
        </span>
    </div>
</div>
<div theme="dark">
    <div class="portfolio">
        <span class="logo">
            <strong>
                Thomasorus
            </strong>
        </span>
    </div>
</div>