a {
    color:var(--text);
}

a:hover {
    
}

a:active {

}

a:visited {
    
}

a[target="_blank"] {
    color: var(--text);
    position: relative;
}

a[target="_blank"]:after {
    content: "\2197";
    color:var(--text);
}