<div theme="color">
    <div class="portfolio">
        <a href="/">Link to home of the design system</a><br>
        <a href="https://thomasorus.com" target="_blank" rel="nofollow">Link to thomasorus</a>
    </div>
    <div class="journal">
        <a href="/">Link to home of the design system</a><br>
        <a href="https://thomasorus.com" target="_blank" rel="nofollow">Link to thomasorus</a>
    </div>
    <div class="knowledge">
        <a href="/">Link to home of the design system</a><br>
        <a href="https://thomasorus.com" target="_blank" rel="nofollow">Link to thomasorus</a>
    </div>
    <div class="about">
        <a href="/">Link to home of the design system</a><br>
        <a href="https://thomasorus.com" target="_blank" rel="nofollow">Link to thomasorus</a>
    </div>
    <div class="projects">
        <a href="/">Link to home of the design system</a><br>
        <a href="https://thomasorus.com" target="_blank" rel="nofollow">Link to thomasorus</a>
    </div>
</div>