<code>Sizes</code>
<h1>
    Chīsai is a small website generator, editable and hosted on Github with
    automatic deployment.
</h1>
<h2>
    Chīsai is a small website generator, editable and hosted on Github with
    automatic deployment.
</h2>
<h3>
    Chīsai is a small website generator, editable and hosted on Github with
    automatic deployment.
</h3>
<h4>
    Chīsai is a small website generator, editable and hosted on Github with
    automatic deployment.
</h4>
<h5>
    Chīsai is a small website generator, editable and hosted on Github with
    automatic deployment.
</h5>
<h6>
    Chīsai is a small website generator, editable and hosted on Github with
    automatic deployment.
</h6>
<br>
<code>Color theme</code>
<div theme="color">
  <div class="portfolio">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="journal">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="knowledge">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="about">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="projects">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
</div>
<br>
<code>Light theme</code>
<div theme="light">
  <div class="portfolio">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="journal">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="knowledge">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="about">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="projects">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
</div>
<br>
<code>Dark theme</code>
<div theme="dark">
  <div class="portfolio">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="journal">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="knowledge">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="about">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
  <div class="projects">
    <h4>
      Chīsai is a small website generator, editable and hosted on Github with
      automatic deployment.
    </h4>
  </div>
</div>
