

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../index.css">
</head>

<body>
	<main style="margin:0;">
		<article>
			<div theme="color">
				<div class="portfolio">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
				</div>
				<div class="projects">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
				</div>
				<div class="journal">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
				</div>

				<div class="knowledge">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
				</div>
				<div class="about">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
				</div>
			</div>

			<div theme="light">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
			</div>

			<div theme="dark">
					<article>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet ducimus perferendis officiis ipsa quia natus sequi est saepe corporis porro, fuga dolorem deserunt magni, distinctio rem nihil sapiente voluptatum.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita recusandae quod odio a veniam possimus illo quasi vel voluptatibus similique iusto, saepe adipisci ipsa minus quas nostrum dolor repudiandae deleniti?
    </p>
</article>
			</div>
		</article>
	</main>

	<script src="../../js/index.js"></script>
</body>

</html>
