

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../index.css">
</head>

<body>
	<main style="margin:0;">
		<article>
			<div theme="color">
				<div class="portfolio">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
				</div>
				<div class="projects">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
				</div>
				<div class="journal">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
				</div>

				<div class="knowledge">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
				</div>
				<div class="about">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
				</div>
			</div>

			<div theme="light">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
			</div>

			<div theme="dark">
					<button>yes</button>
<button>Not long text</button>
<button>Medium long text ah ah</button>
<button>Ok this one is super very long it's abusive</button>
<button data-naked="true">naked</button>
<br><br>

<style>
     button {
        margin:10px;
    }
</style>
			</div>
		</article>
	</main>

	<script src="../../js/index.js"></script>
</body>

</html>
