

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../index.css">
</head>

<body>
	<main style="margin:0;">
		<article>
			<div theme="color">
				<div class="portfolio">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
				</div>
				<div class="projects">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
				</div>
				<div class="journal">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
				</div>

				<div class="knowledge">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
				</div>
				<div class="about">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
				</div>
			</div>

			<div theme="light">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
			</div>

			<div theme="dark">
					<dl>
    <dt>Term</dt>
    <dd>Definition</dd>
     <dt><a href="#">Term as link</a></dt>
    <dd>Definition</dd>
</dl>
			</div>
		</article>
	</main>

	<script src="../../js/index.js"></script>
</body>

</html>
