

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../index.css">
</head>

<body>
	<main style="margin:0;">
		<article>
			<div theme="color">
				<div class="portfolio">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
				</div>
				<div class="projects">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
				</div>
				<div class="journal">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
				</div>

				<div class="knowledge">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
				</div>
				<div class="about">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
				</div>
			</div>

			<div theme="light">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
			</div>

			<div theme="dark">
					<div>
    <hr>
</div>

<style>
    div {
        padding:1px;
    }
</style>
			</div>
		</article>
	</main>

	<script src="../../js/index.js"></script>
</body>

</html>
