

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../index.css">
</head>

<body>
	<main style="margin:0;">
		<article>
			<div theme="color">
				<div class="portfolio">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
				</div>
				<div class="projects">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
				</div>
				<div class="journal">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
				</div>

				<div class="knowledge">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
				</div>
				<div class="about">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
				</div>
			</div>

			<div theme="light">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
			</div>

			<div theme="dark">
					<form action="">
    <div>
        <label for="select">Select</label>
    <select id="select" data-size="30" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    </div>
</form>
			</div>
		</article>
	</main>

	<script src="../../js/index.js"></script>
</body>

</html>
