

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../../index.css">
</head>

<body>
	<main style="margin:0;">
		<article>
			<div theme="color">
				<div class="portfolio">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

				</div>
				<div class="projects">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

				</div>
				<div class="journal">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

				</div>

				<div class="knowledge">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

				</div>
				<div class="about">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

				</div>
			</div>

			<div theme="light">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

			</div>

			<div theme="dark">
					
<h1>portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est, maxime, consequatur iste error consectetur voluptatum cumque molestias mollitia labore quaerat fugit numquam, perspiciatis quibusdam enim tempora nulla assumenda explicabo.</p>

			</div>
		</article>
	</main>

	<script src="../../js/index.js"></script>
</body>

</html>
